

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/assets/css/dashlite.css?ver=2.2.0">
    <link id="skin-default" rel="stylesheet" href="~/Content/assets/css/theme.css?ver=2.2.0">
    <script src="https://cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
</head>

<body class="nk-body bg-white npc-subscription has-aside ">
    <div class="nk-app-root">
        <!-- main   -->
        <div class="nk-main ">
            <!-- wrap   -->
            <div class="nk-wrap ">
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-lg wide-xl">
                        <div class="nk-header-wrap">
                            <div class="nk-header-brand">
                                <a href="/Admin" class="logo-link">
                                    <h3>HMTStationery</h3>
                                </a>
                            </div><!-- .nk-header-brand -->
                            <div class="nk-header-tools">
                                <ul class="nk-quick-nav">
                                    <li class="dropdown user-dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <div class="user-toggle">
                                                <div class="user-avatar sm">
                                                    <em class="icon ni ni-user-alt"></em>
                                                </div>
                                                <span class="lead-text"> @(HttpContext.Current.User.Identity.Name)</span>
                                            </div>
                                        </a>
                                    </li><!-- .dropdown -->
                                  
                                    <li class="d-lg-none">
                                        <a href="#" class="toggle nk-quick-nav-icon mr-n1" data-target="sideNav"><em class="icon ni ni-menu"></em></a>
                                    </li>
                                </ul><!-- .nk-quick-nav -->
                            </div><!-- .nk-header-tools -->
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <!-- main header   -->
                <!-- content   -->
                <div class="nk-content p-0">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-aside" data-content="sideNav" data-toggle-overlay="true" data-toggle-screen="lg" data-toggle-body="true">
                                <div class="nk-sidebar-menu" data-simplebar>

                                    <ul class="nk-menu">
                                        @* Menu group *@
                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">User management</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <a href="/User/Create" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Add User</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="/User" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">All User</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        @* End Menu group *@
                                        @* Menu group *@
                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">Stationery management</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <a href="/Stationery/Create" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Add Stationeries</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="/Stationery" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">All Stationeries</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        @* End Menu group *@
                                        @* Menu group *@
                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">Role Management</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <a href="/Roles/Create" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Add Role</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="/Roles" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">All Role</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        @* End Menu group *@
                                        @* Menu group *@
                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">Q&A Management</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <a href="/QA/Create" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Add QA</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="/QA" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">All QA</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        @* End Menu group *@

                                        @* Menu group *@
                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">Account</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <a href="/Auth/Logout" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Logout</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                       
                                        @* End Menu group *@
                                    </ul><!-- .nk-menu -->
                                </div><!-- .nk-sidebar-menu -->
                                <div class="nk-aside-close">
                                    <a href="#" class="toggle" data-target="sideNav"><em class="icon ni ni-cross"></em></a>
                                </div><!-- .nk-aside-close -->
                            </div><!-- .nk-aside -->
                            <div class="nk-content-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content   -->
            </div>
            <!-- wrap   -->
        </div>
        <!-- main   -->
    </div>
    <!-- app-root   -->
    <!-- JavaScript -->
    <script src="~/Content/assets/js/bundle.js?ver=2.2.0"></script>
    <script src="~/Content/assets/js/scripts.js?ver=2.2.0"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
