<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/assets/css/dashlite.css?ver=2.2.0">
    <link id="skin-default" rel="stylesheet" href="~/Content/assets/css/theme.css?ver=2.2.0">
</head>

<body class="nk-body bg-white npc-subscription has-aside ">
    <div class="nk-app-root">
        <!-- main   -->
        <div class="nk-main ">
            <!-- wrap   -->
            <div class="nk-wrap ">
                <div class="nk-header nk-header-fixed is-light">
                    <div class="container-lg wide-xl">
                        <div class="nk-header-wrap">
                            <div class="nk-header-brand">
                                <a href="html/subscription/index.html" class="logo-link">
                                    <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="logo">
                                    <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                                   
                                </a>
                            </div><!-- .nk-header-brand -->
                            
                        </div><!-- .nk-header-wrap -->
                    </div><!-- .container-fliud -->
                </div>
                <!-- main header   -->
                <!-- content   -->
                <div class="nk-content p-0">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            <div class="nk-aside" data-content="sideNav" data-toggle-overlay="true" data-toggle-screen="lg" data-toggle-body="true">
                                <div class="nk-sidebar-menu" data-simplebar>

                                    <ul class="nk-menu">
                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">Apply Request</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <a href="/Employee/ApplyRequest" class="btn btn-primary">
                                            <em class="icon ni ni-plus"></em> 
                                            <span class="nk-menu-text">Apply a request now</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->

                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">Requests</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <a href="/Employee/MyRequests" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">My Requests</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="/Employee/ToMeRequests" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Requests applied to me</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->

                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">Stationeries</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <a href="/Employee/Staioneries" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">All Available Stationeries</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->

                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">Get Help</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <a href="/Employee/QA" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Q&A</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->

                                        <li class="nk-menu-heading">
                                            <h6 class="overline-title text-primary-alt">Account setting</h6>
                                        </li><!-- .nk-menu-heading -->
                                        <li class="nk-menu-item">
                                            <a href="/Employee/ViewProfile" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">View Profile</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="/Employee/ViewProfile#CheckEligibility" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Check Eligibility</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="/Auth/ChangePassword" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Change Password</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                        <li class="nk-menu-item">
                                            <a href="/Auth/Logout" class="nk-menu-link">
                                                <span class="nk-menu-icon"><em class="icon ni ni-dashlite"></em></span>
                                                <span class="nk-menu-text">Logout</span>
                                            </a>
                                        </li><!-- .nk-menu-item -->
                                    </ul><!-- .nk-menu -->
                                </div><!-- .nk-sidebar-menu -->
                                <div class="nk-aside-close">
                                    <a href="#" class="toggle" data-target="sideNav"><em class="icon ni ni-cross"></em></a>
                                </div><!-- .nk-aside-close -->
                            </div><!-- .nk-aside -->
                            <div class="nk-content-body">
                                <div class="nk-content-wrap">
                                @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content   -->
            </div>
            <!-- wrap   -->
        </div>
        <!-- main   -->
    </div>
    <!-- app-root   -->
    <!-- JavaScript -->
    <script src="~/Content/assets/js/bundle.js?ver=2.2.0"></script>
    <script src="~/Content/assets/js/scripts.js?ver=2.2.0"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>