@model HMTStationery.Models.Request
@using HMTStationery.General;
@{
    ViewBag.Title = "RequestDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="nk-block-head nk-block-head-lg">
    <div class="nk-block-head-sub"><a class="back-to" href="/Employee/MyRequests"><em class="icon ni ni-arrow-left"></em><span>My Requests</span></a></div>
    <div class="nk-block-between-md g-4">
        <div class="nk-block-head-content">
            <h2 class="nk-block-title fw-normal">Request detail</h2>
            <div class="nk-block-des">
                <p>Your request applied at <span class="text-soft"> @Model.Date</span> <span class="text-primary"></span></p>
            </div>
            <div class="nk-block-des">
                <p>Title: <span class="text-primary">@Model.Title</span></p>
            </div>
        </div>
        <div class="nk-block-head-content">
            <ul class="nk-block-tools justify-content-md-end g-4 flex-wrap">

                @if (Model.Status == (int)RequestStatus.APPROVED)
                {
                    <li class="order-md-last">
                        <a href="#" class="btn btn-auto btn-dim btn-danger" data-toggle="modal" data-target="#request-cancel"><em class="icon ni ni-cross"></em><span>Cancel Request</span></a>
                    </li>
                }
                else if (Model.Status == (int)RequestStatus.WAITING)
                {
                    <li class="order-md-last">
                        <a href="#" class="btn btn-auto btn-dim btn-danger" data-toggle="modal" data-target="#request-withdraw"><em class="icon ni ni-cross"></em><span>Withdraw Request</span></a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div><!-- .nk-block-head -->
<div class="nk-block">
    <div class="row">
        <div class="col-xl-12">
            @if (ViewBag.Message != null)
            {
                <div class="example-alert mb-1">
                    <div class="alert alert-warning alert-icon">
                        <em class="icon ni ni-alert-circle"></em>
                        <span>@ViewBag.Message</span>
                    </div>
                </div>
            }
            <div class="card card-bordered">
                <div class="card-inner-group">
                    <div class="card-inner">
                        <div class="sp-plan-head">
                            <h6 class="title">Request Details</h6>
                        </div>
                        <div class="sp-plan-desc sp-plan-desc-mb">
                            <ul class="row gx-1">
                                <li class="col-sm-6">
                                    <p><span class="text-soft">Send Date</span> @(Model.Date.ToString())</p>
                                </li>
                                <li class="col-sm-6">
                                    <p><span class="text-soft">Status</span>@((RequestStatus) Model.Status)</p>
                                </li>
                                <li class="col-sm-6">
                                    <p><span class="text-soft">Total cost</span> $@(Model.RequestDetails.Sum(x=>x.Price*x.Quantity))</p>
                                </li>
                                <li class="col-sm-6">
                                    <p><span class="text-soft">Receiver Email</span> @Model.ReceiverEmail</p>
                                </li>
                                <li class="col-sm-6">
                                    <p><span class="text-soft">Request Message</span> @Model.RequestMessage</p>
                                </li>
                                @if (Model.ResponseMessage != null)
                                {
                                    <li class="col-sm-6">
                                        <p><span class="text-soft">Response Message</span> @Model.ResponseMessage</p>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div><!-- .card-inner -->
                </div><!-- .card-inner-group -->
            </div><!-- .card -->
        </div><!-- .col -->

    </div>
</div><!-- .nk-block -->
<div class="nk-block">
    <div class="card card-bordered">
        <div class="card-inner card-inner-md">
            <div class="card-title-group">
                <h6 class="card-title">Request Stationeries</h6>

            </div>
        </div>
        <table class="table table-tranx">
            <thead>
                <tr class="tb-tnx-head">
                    <th class="tb-tnx-info">
                        Name
                    </th>
                    <th class="tb-tnx-info">
                        Description
                    </th>
                    <th class="tb-tnx-info">
                        Image
                    </th>
                    <th class="tb-tnx-info">
                        Price
                    </th>
                    <th class="tb-tnx-info">
                        Quantity
                    </th>
                    <th class="tb-tnx-info">
                        Subtotal
                    </th>
                </tr><!-- .tb-tnx-item -->
            </thead>
            <tbody>
                @foreach (var item in Model.RequestDetails)
                {
                    <tr class="tb-tnx-item">
                        <td class="tb-tnx-info">
                            @item.Stationery.Name
                        </td>
                        <td class="tb-tnx-info">
                            @(item.Stationery.Description.Length>30?
                                item.Stationery.Description.Substring(0,30)+"...":
                                item.Stationery.Description
                            )
                        </td>
                        <td class="tb-tnx-info">
                            <img src="~/Storage/Images/@item.Stationery.Image" alt="Stationery Image" height="150" />
                        </td>
                        <td class="tb-tnx-info">
                            $@item.Price
                        </td>
                        <td class="tb-tnx-info">
                            @item.Quantity
                        </td>
                        <td class="tb-tnx-info">
                            $@(item.Quantity*item.Price)
                        </td>
                    </tr><!-- .tb-tnx-item -->

                }
            </tbody>
        </table>
    </div><!-- .card -->
</div>
<!-- .nk-block --


<!-- Modal - Withdraw reject -->
<div class="modal fade" tabindex="-1" id="request-withdraw">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal" aria-label="Close"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-md">
                <h4 class="nk-modal-title title">Reject this request</h4>
                <p><strong>Are you sure you want to reject this request ?</strong></p>
                <p>Please verify your identity </p>
                <div class="form">
                    @using (Html.BeginForm("WithdrawRequest", "Employee", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="requestID" value="@Model.ID" />

                        <div class="form-group">
                            <label class="form-label">Enter your password to confirm withdrawing</label>
                            <div class="form-control-wrap">
                                <input type="password" required name="password" class="form-control" placeholder="*********">
                            </div>
                        </div>

                        <ul class="align-center flex-wrap g-3">
                            <li>
                                <button class="btn btn-warning" type="submit">Withdraw request</button>
                            </li>
                            <li>
                                <a href="#" class="btn btn-light" data-dismiss="modal">Never mind, don't withdraw</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->

<!-- Modal - Cancel reject -->
<div class="modal fade" tabindex="-1" id="request-cancel">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal" aria-label="Close"><em class="icon ni ni-cross"></em></a>
            <div class="modal-body modal-body-md">
                <h4 class="nk-modal-title title">Cancel this request</h4>
                <p><strong>Are you sure you want to cancel this request ?</strong></p>
                <p>Please verify your identity </p>
                <div class="form">
                    @using (Html.BeginForm("CancelRequest", "Employee", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="requestID" value="@Model.ID" />

                        <div class="form-group">
                            <label class="form-label">Enter your password to confirm canceling</label>
                            <div class="form-control-wrap">
                                <input type="password" required name="password" class="form-control" placeholder="*********">
                            </div>
                        </div>

                        <ul class="align-center flex-wrap g-3">
                            <li>
                                <button class="btn btn-warning" type="submit">Cancel request</button>
                            </li>
                            <li>
                                <a href="#" class="btn btn-light" data-dismiss="modal">Never mind, don't cancel</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->