@model IEnumerable<HMTStationery.Models.Stationery>
@using HMTStationery.General
@{
    ViewBag.Title = "Stationeries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Stationeries</h3>

        </div><!-- .nk-block-head-content -->
        <br />
        <div class="nk-block-head-content">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="nk-search-box">
                    <div class="form-group">
                        <div class="form-control-wrap">
                            <input type="text" name="search" class="form-control form-control-lg" placeholder="Search...">
                            <button class="form-icon form-icon-right" type="submit">
                                <em class="icon ni ni-search"></em>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->
<div class="nk-block">
    <div class="row g-gs stationery-list">
        @foreach (var item in Model)
        {
           
            <div class="col-sm-6 col-xl-4">
                <div class="card card-bordered">
                    <div class="card-inner">
                        <div class="team">
                           
                            <div class="user-card user-card-s2">
                                <div class="user-avatar lg bg-primary">
                                    <img src="~/Storage/Images/@item.Image" alt="">
                                    <div class="status dot dot-lg dot-success"></div>
                                </div>
                                <div class="user-info">
                                    <h6>@item.Name</h6>
                                    
                                </div>
                            </div>
                            <ul class="team-info">
                                <li><span>Price</span><span>$@item.Price</span></li>
                                <li><span>In stock</span><span>@item.Stock</span></li>
                                <li><span>Status</span><span>@((StationeryStatus)item.Status)</span></li>
                            </ul>
                            <div class="team-view">
                                <a  class="btn  btn-primary add-stationery text-white mr-1" data-id="@item.ID"><span>Add to preparing list</span></a>
                                <a  class="btn  btn-primary text-white ml-1" href="/Employee/StationeryDetail/@item.ID"><span>View detail</span></a>
                            </div>
                        </div><!-- .team -->
                    </div><!-- .card-inner -->
                </div><!-- .card -->
            </div><!-- .col -->
        }


    </div>
</div><!-- .nk-block -->
@section scripts
{
     <script type="text/javascript">
         $(document).ready(function () {
             $(".stationery-list").on("click", ".add-stationery", function (e) {
                 let txtID = e.target.dataset.id;
                 $.ajax({
                     url: '/Employee/_AddStationery?id=' + txtID,
                     type: 'GET',
                     dataType: 'html',
                     data: {
                         id: txtID
                     }, success: function () {
                         Swal.fire("Success", "Added to preparing list !", "success");
                     }
                 });
             });
         });
     </script>   
}