@model IEnumerable<HMTStationery.Models.Request>
@using HMTStationery.General;
@{
    ViewBag.Title = "Request applied to me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk-block-head nk-block-head-lg">
    <div class="nk-block-head-sub"><a class="back-to" href="/Employee"><em class="icon ni ni-arrow-left"></em><span>Home</span></a></div>
    <div class="nk-block-between-md g-4">
        <div class="nk-block-head-content">
            <h2 class="nk-block-title fw-normal">Request applied to me</h2>
        </div>
    </div>
</div><!-- .nk-block-head -->
<table class="table">
    <tr>
        <th>
           Sender Name
        </th>
        <th>
           Sender Email
        </th>
        <th>
            Apply Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestMessage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.Name</td>
            <td>@item.User.Email</td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @((RequestStatus) item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestMessage)
            </td>
            <td>
                @Html.ActionLink("Detail", "ToMeRequestDetail", new { id = item.ID }, new { @class = "btn btn-info" })
            </td>
        </tr>

    }

</table>


