@using HMTStationery.General;
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk-content-wrap">
    <div class="nk-block-head">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">My Profile</h3>

        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card card-bordered">
            <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                <li class="nav-item">
                    <a class="nav-link active" href="html/user-profile-regular.html"><em class="icon ni ni-user-fill-c"></em><span>Personal</span></a>
                </li>
            </ul><!-- .nav-tabs -->
            <div class="card-inner card-inner-lg">
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h4 class="nk-block-title">Personal Information</h4>

                    </div>
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="nk-data data-list data-list-s2">
                        <div class="data-head">
                            <h6 class="overline-title">Basics</h6>
                        </div>
                        <div class="data-item" >
                            <div class="data-col">
                                <span class="data-label"><b>Full Name:</b></span>
                                <span class="data-value">@ViewBag.Name</span>
                            </div>
                            <div class="data-col data-col-end"><span class="data-more"><em class="icon ni ni-forward-ios"></em></span></div>
                        </div><!-- data-item -->
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label"><b>Email:</b></span>
                                <span class="data-value">@ViewBag.Email</span>
                            </div>
                            <div class="data-col data-col-end"><span class="data-more disable"><em class="icon ni ni-lock-alt"></em></span></div>
                        </div><!-- data-item -->
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label"><b>Account status:</b></span>
                                <span class="data-value">@((UserStatus) ViewBag.Status)</span>
                            </div>

                        </div><!-- data-item -->
                    </div><!-- data-list -->
                    <div class="nk-data data-list data-list-s2">
                        <div class="data-head">
                            <h6 class="overline-title">Role Detail</h6>
                        </div>
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label"><b>Role:</b></span>
                                <span class="data-value">@ViewBag.RoleName</span>
                            </div>
                           
                        </div><!-- data-item -->
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label"><b>Descripstion:</b></span>
                                <span class="data-value">@ViewBag.RoleDesc</span>
                            </div>

                        </div><!-- data-item -->
                        <a href="#Eligibility">&nbsp;</a>
                        <div class="data-item">
                            <div class="data-col">
                                <span class="data-label"><b>Eligibility:</b></span>
                                <span class="data-value">@ViewBag.Eligibility</span>
                            </div>

                        </div><!-- data-item -->
                    </div><!-- data-list -->
                    @if (ViewBag.Superior!=null)
                    {
                        <div class="nk-data data-list data-list-s2">
                            <div class="data-head">
                                <h6 class="overline-title">Superior Detail</h6>
                            </div>
                            <div class="data-item">
                                <div class="data-col">
                                    <span class="data-label"><b>Name:</b></span>
                                    <span class="data-value">@ViewBag.SupName</span>
                                </div>
                               
                            </div><!-- data-item -->
                            <div class="data-item">
                                <div class="data-col">
                                    <span class="data-label"><b>Email:</b></span>
                                    <span class="data-value">@ViewBag.SupEmail</span>
                                </div>
                            </div><!-- data-item -->
                            <div class="data-item">
                                <div class="data-col">
                                    <span class="data-label"><b>Role:</b></span>
                                    <span class="data-value">@ViewBag.SupRole</span>
                                </div>

                            </div><!-- data-item -->
                        </div><!-- data-list -->
                    }
                </div><!-- .nk-block -->
            </div><!-- .card-inner -->
        </div><!-- .card -->
    </div><!-- .nk-block -->
</div>




