@model IEnumerable<HMTStationery.Models.Stationery>
@using HMTStationery.General
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Stationery List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="nk-block">
    <div class="card card-bordered card-stretch">
        <div class="card-inner-group">
            <div class="card-inner position-relative card-tools-toggle">
                <div class="card-title-group">
                    <div class="card-tools mr-n1">
                        <ul class="btn-toolbar gx-1">
                            @using (Html.BeginForm("Index", "Stationery", FormMethod.Get))
                            {
                                <p>
                                    Search: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                                    <input type="submit" value="search" />
                                </p>
                            }
                        </ul><!-- .btn-toolbar -->
                    </div><!-- .card-tools -->
                </div><!-- .card-title-group -->
            </div><!-- .card-inner -->
            <div class="card-inner p-0">
                <div class="nk-tb-list nk-tb-ulist">
                    <div class="nk-tb-item nk-tb-head">
                        <div class="nk-tb-col"><span class="sub-text">Name</span></div>
                        <div class="nk-tb-col tb-col-mb"><span class="sub-text">Image</span></div>
                        <div class="nk-tb-col tb-col-xl"><span class="sub-text">Price</span></div>
                        <div class="nk-tb-col tb-col-xl"><span class="sub-text">Stock</span></div>
                
                        <div class="nk-tb-col tb-col-md"><span class="sub-text">Status</span></div>
                    </div>
                    <!-- .nk-tb-item -->
                    @foreach (var item in Model)
                    {
                        <div class="nk-tb-item">
                            <div class="nk-tb-col">
                                <span class="tb-lead">@Html.DisplayFor(modelItem => item.Name) <span class="dot dot-success d-md-none ml-1"></span></span>
                            </div>
                            <div class="nk-tb-col tb-col-mb">
                                <img src="~/Storage/Images/@item.Image" width="auto" height="150"/>
                            </div>
                            <div class="nk-tb-col tb-col-xl">
                                <span>$@Html.DisplayFor(modelItem => item.Price)</span>
                            </div>
                            <div class="nk-tb-col tb-col-xl">
                                <span>@Html.DisplayFor(modelItem => item.Stock)</span>
                            </div>
                            <div class="nk-tb-col tb-col-xl">
                                <span>@(item.Description.Length>20?item.Description.Substring(0,20)+"...":item.Description)</span>
                            </div>
                            <div class="nk-tb-col tb-col-md">
                                <span class="tb-status ">@((StationeryStatus)item.Status)</span>
                            </div>
                            <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1">
                                    <li>
                                        <div class="drodown">
                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <ul class="link-list-opt no-bdr">

                                                    <li>@Html.ActionLink("Details", "Details", new { id = item.ID })</li>
                                                    <li class="divider"></li>
                                                    <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID }) </li>
                                                    <li class="divider"></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- .nk-tb-item -->
                    }
                </div><!-- .nk-tb-list -->
            </div><!-- .card-inner -->
        </div><!-- .card-inner-group -->
    </div><!-- .card -->
</div><!-- .nk-block -->
