@model IEnumerable<HMTStationery.Models.Stationery>
@if (Model.Count() == 0) 
{
    <span>Found no stationery like that name</span>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="~/Content/Storage/Images/@item.Image"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                <button class="btn btn-primary choose-button" data-id="@item.ID">Choose</button>
            </td>
        </tr>
    }

</table>
